# Logging
# Only messages at this level and above will be printed.
# See env_logger's documentation for more information:
# https://docs.rs/env_logger/
RUST_LOG=INFO

# Network
# Address and port on which the tunnel control server listens.
AQUEDUCT_BIND_ADDRESS=0.0.0.0:30330
# Address and port on which the API server listens and the web UI is served.
AQUEDUCT_API_BIND_ADDRESS=0.0.0.0:30331
# Ports to which Aqueduct is allowed to bind as tunnel service endpoints, separated by commas.
# Ranges can be specified as `start-end`, inclusive.
AQUEDUCT_TUNNEL_ALLOWED_PORTS=51000-51999

# TLS
# Paths to TLS certificate and private key.
AQUEDUCT_TLS_CERTIFICATE_FILE=/path/to/certificate.pem
AQUEDUCT_TLS_PRIVATE_KEY_FILE=/path/to/private-key.pem

# JWT
# Paths to JWT private and public keys.
# It is recommended to use separate keys for access and refresh tokens.
AQUEDUCT_JWT_ACCESS_PRIVATE_KEY_FILE=/path/to/access-private.pem
AQUEDUCT_JWT_ACCESS_PUBLIC_KEY_FILE=/path/to/access-public.pem
AQUEDUCT_JWT_REFRESH_PRIVATE_KEY_FILE=/path/to/refresh-private.pem
AQUEDUCT_JWT_REFRESH_PUBLIC_KEY_FILE=/path/to/refresh-public.pem

# Database
# Database to which Aqueduct connects.
# Currently, only PostgreSQL is supported.
AQUEDUCT_DB_HOST=127.0.0.1
AQUEDUCT_DB_NAME=aqueduct
AQUEDUCT_DB_PORT=5432
AQUEDUCT_DB_USER=postgres
AQUEDUCT_DB_PASSWORD=