# Logging
# Only messages at this level and above will be printed.
# See env_logger's documentation for more information:
# https://docs.rs/env_logger/
RUST_LOG=INFO

# Network
# Address and port on which the tunnel control server listens.
AQUEDUCT_BIND_ADDRESS=0.0.0.0:30330
# Address and port on which the API server listens and the web UI is served.
AQUEDUCT_API_BIND_ADDRESS=0.0.0.0:30331
# Ports to which Aqueduct is allowed to bind as tunnel service endpoints, separated by commas.
# Ranges can be specified as `start-end`, inclusive.
AQUEDUCT_TUNNEL_ALLOWED_PORTS=51000-51999

# TLS
# Path to the directory containing the TLS certificate and private key.
# The files must be named:
#   certificate.pem
#   private.pem
AQUEDUCT_DOCKER_TLS_DIRECTORY=/path/to/tls/directory

# JWT
# Paths to JWT private and public keys.
# The files must be named:
#   access-private.pem
#   access-public.pem
#   refresh-private.pem
#   refresh-public.pem
# It is recommended to use separate keys for access and refresh tokens.
AQUEDUCT_DOCKER_JWT_DIRECTORY=/path/to/jwt/directory

# Database
# Database configuration for the PostgreSQL service.
#
# You still need to manually apply migrations and initialize the database.
# Refer to the documentation for steps and information.
#
# To use an existing PostgreSQL database instead, remove the `postgres` service from docker-compose.yml
# and configure `AQUEDUCT_DB_HOST` and `AQUEDUCT_DB_PORT` as documented for the binary.
AQUEDUCT_DB_NAME=aqueduct
AQUEDUCT_DB_USER=postgres
# Change the password before deploying.
AQUEDUCT_DB_PASSWORD=change-me